.dropdown {
  cursor: pointer;
  position: relative;

  .title {
  }

  .items {
    position: absolute;
    top: 30px;
    right: 0;
  }

  .item {
    font-size: 14px;
    background-color: #ffffff;
    color: #20232a;
    padding: 2px 4px;
    border-bottom: solid 1px #20232a;


    &:hover {
      background-color: darkturquoise;
      color: #20232a;
    }
  }
}
