.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 100px;
}

.introduction_container {
  min-width: 100vw;
  background-color: #282c34;
  padding: 60px 0 70px;

  .introduction_title {
    font-size: 45px;
    color: darkturquoise;
    text-align: center;
    font-weight: bold;
  }

  .introduction_sub_title {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
  }
}


.experience_container {
  padding: 30px 10px;
  width: 820px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .experience_column {
    width: 240px;
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .experience_column_title {
    color: #6d6d6d;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
  }

  .experience_column_details {
    color: #000000;
  }
}

.introduction_company_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .introduction_company_title {
    font-family: 'Roboto', sans-serif;
    margin: 20px 0;
  }

  .company_icons_container {
    display: flex;
    justify-content: space-around;
    width: 800px;

    img {
      height: 60px;
    }
  }
}

@media only screen and (max-width: 820px) {
  .experience_container {
    width: auto;
  }

  .introduction_company_container {
    .introduction_company_title {
      margin: 10px 0;
    }
    .company_icons_container {
      width: auto;
      flex-wrap: wrap;

      img {
        margin: 10px 5px;
        height: 40px;
      }
    }
  }
}