.project_items_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1245px;
  margin: auto;
}

.project_item {
  width: 150px;
  height: 200px;
  margin: 10px 5px;
  padding: 5px;
  border: solid 1px darkturquoise;
  display: flex;
  flex-direction: column;
  position: relative;
}

.item_overview {
  height: 80px;
  cursor: pointer;
  border: solid 1px darkturquoise;
}

.item_project_name {

}

.description {
  font-size: 12px;
}

.github_link {
  font-size: 12px;
  position: absolute;
  bottom: 2px;
  right: 5px;
}


