.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: red;
  background-color: #20232a;

  svg {
    height: 24px;
    width: 24px;
  }

  .profile_container {
    display: flex;
    justify-content: center;
  }

  .profile_title {
    width: auto;
    color: #ffffff;
    font-size: 16px;
    margin: 10px;
  }

  .profile_links {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 0 5px;
    }
  }
}